<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
    <aop:config proxy-target-class="true">
        <aop:pointcut id="txPointcut" expression="execution(* org.blue.helper.StringHelper.service.*.*(..))"/>
        <aop:advisor id="txAdvisor" pointcut-ref="txPointcut" advice-ref="txAdvice"/>
    </aop:config>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" propagation="REQUIRED" read-only="false" />
            <tx:method name="select*" propagation="REQUIRED" read-only="false" />
            <tx:method name="bind*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="set*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="save*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="create*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="modify*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="update*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="cancle*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="merge*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="remove*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="overtime*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="manualCancle*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="des*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="reg*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="pay*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="confirm*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="return*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="*" propagation="SUPPORTS" read-only="false" />
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="oaServiceMethods"
                      expression="execution(* org.blue.helper.StringHelper.service.*.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="oaServiceMethods" />
    </aop:config>

    <aop:aspectj-autoproxy proxy-target-class="true" />

    <bean id="InterfaceLog" class="org.blue.helper.StringHelper.aop.aspect.ServiceControllerAspect"></bean>
    <aop:config>
        <aop:aspect id="mainPointFlowLogAspect" ref="InterfaceLog">
            <aop:pointcut id="mainFlowLogAspectPt" expression="execution(* org.blue.helper.StringHelper.controller.*.*(..))
                                                     and !execution(* org.blue.helper.StringHelper.controller.ChartRoomContrlloler.*(..))
                                                     and !execution(* org.blue.helper.StringHelper.controller.HttpRequestController.*(..))" />
            <!-- 		<aop:around pointcut-ref="mainFlowLogAspectPt" method="doAround"/> -->
            <aop:before pointcut-ref="mainFlowLogAspectPt" method="doBefore"/>
            <aop:after-returning returning="returningData" pointcut-ref="mainFlowLogAspectPt" method="doAfter"/>
            <aop:after-throwing pointcut-ref="mainFlowLogAspectPt" method="doThrowing" throwing="ex" />
        </aop:aspect>
    </aop:config>

    <aop:config proxy-target-class="true">
        <aop:pointcut expression="@annotation(org.blue.helper.StringHelper.aop.annotation.NeedLogin)" id="CheckLoginPointcut" />
        <aop:advisor advice-ref="CheckLogin" pointcut-ref="CheckLoginPointcut"/>
    </aop:config>
    <bean id="CheckLogin" class="org.blue.helper.StringHelper.aop.interceptor.CheckLoginInterceptor"/>

    <bean id="redisUtil" class="org.blue.helper.core.util.RedisUtil"/>
</beans>