<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <!--<link rel="stylesheet" th:href="@{/css/login.css}" />-->
    <script th:src="@{/js/jquery-1.7.2.min.js}" type="text/javascript" charset="utf-8"></script>
    <script>
        $(document).ready(function () {

        })

        function show() {
            var fileName=$("#fileName").val();
            $.ajax({
                type: "GET",
                url: "/helper/word/openWord",
                data: "{\"fileName\":\"" + fileName + "\"}",
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    if (data != null && data != "") {
                        if (data.resCode == "100000") {
                            var span=$('<span></span>');
                            span.innerHTML=data;
                            $("#content").append(span);
                        } else {
                            alert(data.messge);
                        }
                    }
                },
                error: function (XMLHttpRequest) {
                    alert("服务忙，请重试", "提示框");
                }
            });
        }
    </script>
</head>
<body>
<div id="catalogue">
    fileName<input id="fileName" type="text">
    show<input id="show" type="button" onclick="show()">
</div>
<div id="content"></div>
<div id="user"></div>
</body>
</html>