<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes"/>
    <title>新建记录</title>

    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"
          href="../../static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-select.min.css}"
          href="../../static/bootstrap/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" th:href="@{/sweetalert/sweetalert.css}" href="../../static/sweetalert/sweetalert.css"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-datetimepicker.min.css}"
          href="../../static/bootstrap/css/bootstrap-datetimepicker.min.css"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/bootstrap/fileinput/css/fileinput-rtl.css}"
          href="../../static/bootstrap/fileinput/css/fileinput-rtl.css"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/bootstrap/fileinput/css/fileinput.css}"
          href="../../static/bootstrap/fileinput/css/fileinput.css"
          type="text/css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bus/bookkeeping/menu.css}"
          href="../../static/css/bus/bookkeeping/menu.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/jq-menu/jquery.mmenu.all.css}"
          href="../../static/jq-menu/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/tools/lightFont.css}"
          href="../../static/css/tools/lightFont.css"/>
    <style>

        .form-group {
            margin-bottom: 20px;
            -moz-transition: all 550ms ease-in-out;
            -o-transition: all 550ms ease-in-out;
            -webkit-transition: all 550ms ease-in-out;
            transition: all 550ms ease-in-out;
        }

        .form-group .input-group {
            /*background: #387b65;*/
            background: #373e4a;
            border: 1 solid #387b65;
            padding-top: 6px;
            padding-bottom: 6px;
            -moz-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .form-group .input-group.focused {
            border-color: #626f85;
            border-color: rgba(98, 111, 133, 0.5);
        }

        .form-control {
            height: 44px;
        }

        .form-group .input-group .input-group-addon,
        .form-group .input-group .form-control {
            background: transparent;
            border: 0;
        }

        .form-group .input-group .input-group-addon {
            position: relative;
        }

        .form-group .input-group .input-group-addon:after {
            position: absolute;
            display: block;
            content: '';
            right: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background: #454a54;
            -webkit-transform: scaleY(.56);
            -moz-transform: scaleY(.56);
            -o-transform: scaleY(.56);
            -ms-transform: scaleY(.56);
            transform: scaleY(.56);
        }

        .form-group .input-group .form-control {
            color: #ffffff;
        }

        .form-group .input-group .form-control:focus {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        /*=================*/
        .radios input[type=radio] {
            display: none;
            border: none;
        }

        /*=====================================light font==========================================*/

    </style>
    <script type="text/javascript" th:src="@{/js/jq/jquery-3.2.1.min.js}"
            src="../../static/js/jq/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" th:src="@{/jq-menu/jquery.mmenu.all.js}"
            src="../../static/jq-menu/jquery.mmenu.all.js"></script>

    <script th:src="@{/bootstrap/js/Popper.min.js}" src="../../static/bootstrap/js/Popper.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../../static/bootstrap/js/bootstrap.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/bootstrap/js/bootstrap.viewer.js}" src="../../static/bootstrap/js/bootstrap.viewer.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/bootstrap/js/bootstrap-select.min.js}" src="../../static/bootstrap/js/bootstrap-select.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/sweetalert/sweetalert.js}" src="../../static/sweetalert/sweetalert.js" type="text/javascript"
            charset="utf-8"></script>
    <script th:src="@{/bootstrap/js/bootstrap-select.min.js}" src="../../static/bootstrap/js/bootstrap-select.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/bootstrap/js/bootstrap-datetimepicker.min.js}"
            src="../../static/bootstrap/js/bootstrap-datetimepicker.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/bootstrap/js/bootstrap-datetimepicker.zh-CN.js}"
            src="../../static/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/bootstrap/js/moment-with-locales.js}" src="../../static/bootstrap/js/moment-with-locales.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/bootstrap/js/bootstrap-paginator.js}" src="../../static/bootstrap/js/bootstrap-paginator.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/bus/bookkeeping/common.js}" src="../../static/js/bus/bookkeeping/common.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/bootstrap/fileinput/js/fileinput.js}" src="../../static/bootstrap/fileinput/js/fileinput.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/bootstrap/fileinput/locales/zh.js}" src="../../static/bootstrap/fileinput/locales/zh.js"
            type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Datetime("startTimePicker", "startTime");
            sessionStorage.setItem("pCode", "");
            sessionStorage.setItem("checkedId", "");
            sessionStorage.setItem("maxPage", "");
            sessionStorage.setItem("imgName", "");
            setDirection("out");
            getRecordId();
        });
        function getRecordId() {
            token
            var params={};
            sendPost("/helper/record/getRecordId",params,function (data) {
                if (data != null && data != "") {
                    console.log(data)
                    if (data.resCode == "100000") {
                        console.log("recordId="+data.object);
                        sessionStorage.setItem("recordId",data.object);
                    } else if (data.resCode == "000012") {
                        location.href = '/helper/tally/login';
                    }else {
                        sweetAlert(data.message, "", "error");
                    }
                }
            },token);
        }
        function addRecord() {
            //check params
            var $file = $("#billImg");
            var recordCode=sessionStorage.getItem("recordId");
            var time=$('#startTime').val();
            var billType=sessionStorage.getItem("checkedId").replace("optionsRadios","");
            var billMoney=$('#amount').val();
            var e= document.getElementById("miaoshu")
            var billDepic=e.value;
            var imgName=sessionStorage.getItem("imgName");
            var voucherFiles= new FormData();
            if (imgName !=null && imgName !="" && imgName !=undefined) {
                voucherFiles.append("file", document.getElementById("billImg").files[0]);
                base64($file,function (data) {
                    var billImg=data.base64;
                    var params={
                        "recordCode" :recordCode,
                        "time" :time,
                        "billType" :billType,
                        "billMoney" :billMoney,
                        "billDepic" :billDepic,
                        "imgName":imgName,
                        "billImg":billImg
                    };
                    sendPost("/helper/record/addRecord",params,function (data) {
                        if (data != null && data != "") {
                            console.log(data)
                            if (data.resCode == "100000") {
                                console.log("success")
                            }else if (data.resCode == "000012") {
                                location.href = '/helper/tally/login';
                            } else {
                                sweetAlert(data.message, "", "error");
                            }
                        }
                    },token);
                });
            }else {
                var params={
                    "recordCode" :recordCode,
                    "time" :time,
                    "billType" :billType,
                    "billMoney" :billMoney,
                    "billDepic" :billDepic
                };
                sendPost("/helper/record/addRecord",params,function (data) {
                    if (data != null && data != "") {
                        console.log(data)
                        if (data.resCode == "100000") {
                            console.log("success")
                        } else if (data.resCode == "000012") {
                            location.href = '/helper/tally/login';
                        }else {
                            sweetAlert(data.message, "", "error");
                        }
                    }
                },token);
            }

        }

        function setDirection(eId) {//#515b6d
            var pCode = sessionStorage.getItem("pCode");
            var element = document.getElementById(eId);
            if (eId == "out") {
                element.style.color = "#E7121A";
                document.getElementById("in").style.color = "#515b6d";
                sessionStorage.setItem("pCode", "001");
                if (pCode == null || pCode == "undefined" || pCode == "" || pCode == "002") {
                    getBillTypes();
                }
            } else if (eId == "in") {
                element.style.color = "#34C14B";
                document.getElementById("out").style.color = "#515b6d";
                sessionStorage.setItem("pCode", "002");
                if (pCode == null || pCode == "undefined" || pCode == "" || pCode == "001") {
                    getBillTypes();
                }
            }
        }

        function changeColor() {
            if (event.target.getAttribute("class") != null) {//lable引发的两次点击事件
                return;
            }
            var radios = document.getElementsByName("optionsRadiosinline");
            var value = 0;
            var checkedId = sessionStorage.getItem("checkedId");
            for (var i = 0; i < radios.length; i++) {
                if (radios[i].checked == true) {
                    console.log("radios[i].id: " + radios[i].id + " checkedId :" + checkedId)
                    if (radios[i].id == checkedId) {//double click = 取消
                        radios[i].parentElement.style.color = "#CECECE";
                        sessionStorage.setItem("checkedId", "");
                    } else {
                        radios[i].parentElement.style.color = "#0fcbc4";
                        sessionStorage.setItem("checkedId", radios[i].id);
                    }
                    // radios[i].parentElement.style.color = "#cbae17";
                    // sessionStorage.setItem("checkedId", radios[i].id);
                } else {
                    radios[i].parentElement.style.color = "#CECECE";
                }
            }
        }

        //===================轮播相关=========
        function getBillTypes() {
            var page = $('#pageNum').val();
            console.log("======page:" + page + ":=================")
            var maxPage = sessionStorage.getItem("maxPage");
            if (page == null || page == "undefined" || page == "" || page >= maxPage) {
                page = 0;
                $('#pageNum').val(page);
            }
            console.log(page);
            var pCode = sessionStorage.getItem("pCode");
            $.ajax("/helper/bill/getBillType?pCode=" + pCode + "&page=" + page, {
                type: "GET",
                contentType: "application/json",
                error: function (data, status, xhr) {
                },
                success: function (data, status, xhr) {
                    if (data.resCode == "100000") {
                        $('#bt_tr').empty();
                        var i = data.object.maxPage;
                        sessionStorage.setItem("maxPage", i);
                        var rspObj = data.object.billTypes;
                        console.log(rspObj)
                        var length = rspObj.length;
                        for (var i = 0; i < length; i++) {
                            var checkedId = sessionStorage.getItem("checkedId");
                            var inputId = "optionsRadios" + rspObj[i].typeCode;
                            var liId = "li" + rspObj[i].typeCode;
                            var color = "#CECECE";
                            if (checkedId != null && checkedId != "undefined" && checkedId != "") {
                                console.log("checkedId :" + checkedId + ";  input :" + inputId)
                                if (checkedId == inputId) {
                                    color = "#0fcbc4";
                                }
                            }

                            var td = $('<td></td>');
                            var label = $('<label for="' + inputId + '" class="radio-inline"></label>');
                            var li = $('<li id="' + liId + '" class="' + rspObj[i].typeImg + '" onclick="changeColor(' + liId + ')"style="color: ' + color + ';font-size: xx-large;text-align: center"></li>');
                            var input = $('<input type="radio" id="' + inputId + '" name="optionsRadiosinline" value="' + rspObj[i].typeCode + '"><br>');
                            var p = $('<p style="font-size: small">' + rspObj[i].typeName + '</p>');

                            li.append(input);
                            li.append(p);
                            label.append(li);
                            td.append(label);
                            $('#bt_tr').append(td);

                        }
                        var orgPage = $('#pageNum').val();
                        console.log("orgPage" + orgPage);
                        var number = parseInt(orgPage);
                        console.log("number" + number);
                        var nowPage = number + 1;
                        console.log("nowPage" + nowPage);
                        document.getElementById('pageNum').value = nowPage;
                    }
                }
            });
        }

        //================时间控件===================
        function Datetime(pickerId, inputId) {
            $('#' + pickerId).datetimepicker({
                language: 'zh-CN',//显示中文
                format: 'yyyy-mm-dd',//显示格式
                minView: "month",//设置只显示到月份
                initialDate: new Date(),
                autoclose: true,//选中自动关闭
                todayBtn: true,//显示今日按钮
                locale: moment.locale('zh-cn')
            });
            //默认获取当前日期
            var today = new Date();
            var nowdate = (today.getFullYear()) + "-" + (today.getMonth() + 1) + "-" + (today.getDate());
            //对日期格式进行处理
            var date = new Date(nowdate);
            var mon = date.getMonth() + 1;
            var day = date.getDate();
            var mydate = date.getFullYear() + "-" + (mon < 10 ? "0" + mon : mon) + "-" + (day < 10 ? "0" + day : day)
            document.getElementById(inputId).value = mydate;
        }


        //========单据上传相关==========
        function file() {
            var $file = $("#billImg");
            var arrs = $file.val().split('\\');
            if (arrs[arrs.length - 1] == null || arrs[arrs.length - 1] == "" || arrs[arrs.length - 1] == undefined) {
                return;
            }
            var filename = (arrs[arrs.length - 1]).split(".");
            console.log(filename)
            var name = filename[0];
            var suffix = filename[1];
            var fileObj = $file[0];
            var windowURL = window.URL || window.webkitURL;
            var dataURL;
            // var $img = $("#preview");
            var $img = $('<img id="preview"  class="img-responsive center-block" style="width: 30%;height: 30%" onclick="javascript:zoomIn();"><br>')
            var btn = $('<li id="imgTitle" class="fa fa-pencil" style="color: rgba(243,255,26,0.54); font-size: large" onclick="ShowCreateModal()">[' + name + ']</li>');
            $("#previewDiv").append($img);
            // $("#previewDiv").append(imgTitle);
            $("#previewDiv").append(btn);
            sessionStorage.setItem("imgName", name + "." + suffix);
            if (fileObj && fileObj.files && fileObj.files[0]) {
                dataURL = windowURL.createObjectURL(fileObj.files[0]);
                $img.attr('src', dataURL);
            } else {
                dataURL = $file.val();
                var imgObj = document.getElementById("preview");
                // 两个坑:
                // 1、在设置filter属性时，元素必须已经存在在DOM树中，动态创建的Node，也需要在设置属性前加入到DOM中，先设置属性在加入，无效；
                // 2、src属性需要像下面的方式添加，上面的两种方式添加，无效；
                imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;

            }
        }

        // 修改弹出框的title, 显示弹框
        function ShowCreateModal(title) {
            $("#createFileTitle").text(title);
            $('#createFileMModal').modal('show');
        }

        // 关闭弹框， 获取输入值，然后执行逻辑
        function closeModifyModal() {
            $("#createFileMModal").modal("hide");
            var inputFileName = $("#fileName").val();
            $('#imgTitle').html("[" + inputFileName + "]");
            var filename = sessionStorage.getItem("imgName").split(".");
            var suffix = filename[1];
            sessionStorage.setItem("imgName", inputFileName + "." + suffix);
        }

        function cleanFile() {
            var file = $('#billImg');
            if (file.outerHTML) {
                file.outerHTML = file.outerHTML;
            } else {
                file.value = '';
            }
            $("#previewDiv").empty();
            sessionStorage.setItem("imgName", "");
        }

        /**
         * 弹出放大图片
         */
        function zoomIn() {
            var _this = $("#preview");//将当前的pimg元素作为_this传入函数
            imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
        }

        function imgShow(outerdiv, innerdiv, bigimg, _this) {
            var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
            console.log(src)
            $(bigimg).attr("src", src);//设置#bigimg元素的src属性

            /*获取当前点击图片的真实大小，并显示弹出层及大图*/
            $("<img/>").attr("src", src).on('load', function () {
                var windowW = $(window).width();//获取当前窗口宽度
                var windowH = $(window).height();//获取当前窗口高度
                var realWidth = this.width;//获取图片真实宽度
                var realHeight = this.height;//获取图片真实高度
                var imgWidth, imgHeight;
                var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

                if (realHeight > windowH * scale) {//判断图片高度
                    imgHeight = windowH * scale;//如大于窗口高度，图片高度进行缩放
                    imgWidth = imgHeight / realHeight * realWidth;//等比例缩放宽度
                    if (imgWidth > windowW * scale) {//如宽度扔大于窗口宽度
                        imgWidth = windowW * scale;//再对宽度进行缩放
                    }
                } else if (realWidth > windowW * scale) {//如图片高度合适，判断图片宽度
                    imgWidth = windowW * scale;//如大于窗口宽度，图片宽度进行缩放
                    imgHeight = imgWidth / realWidth * realHeight;//等比例缩放高度
                } else {//如果图片真实高度和宽度都符合要求，高宽不变
                    imgWidth = realWidth;
                    imgHeight = realHeight;
                }
                $(bigimg).css("width", imgWidth);//以最终的宽度对图片缩放

                var w = (windowW - imgWidth) / 2;//计算图片与窗口左边距
                var h = (windowH - imgHeight) / 2;//计算图片与窗口上边距
                $(innerdiv).css({"top": h, "left": w});//设置#innerdiv的top和left属性
                $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
            });

            $(outerdiv).click(function () {//再次点击淡出消失弹出层
                $(this).fadeOut("fast");
            });
        }
    </script>
</head>
<body>
<!--引入导航栏-->
<div th:include="bookkeeping/top :: top"></div>
<div style="display: none">
    <input id="recordId" type="text"/>
    <input id="pageNum" type="number" value="0"/>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="control-group">
                <div class="form-group form-inline">
                    <div class="input-group" style="width: 100%;background-color: #238391;border: #238391;	-webkit-font-smoothing: subpixel-antialiased; ">
                        <table style="width: 100%;">
                            <tr style="width: 100%;font-size: xx-large;">
                                <td id="out" style="width: 50%;text-align: center" onclick="setDirection('out')">
                                    <i class="fa fa-arrow-down light-font" style="text-align: center">
                                        <p style="font-size: large;">支出</p>
                                    </i>
                                </td>
                                <td id="in" style="width: 50%;text-align: center" onclick="setDirection('in')">
                                    <i class="fa fa-arrow-up light-font" style="text-align: center">
                                        <p style="font-size: large">收入</p>
                                    </i>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="input-group" style="width: 100%;background-color: #246d7b;border: #246d7b;">
                        <div class="radios">
                            <table style="margin-left: 10%">
                                <tr id="bt_tr">
                                </tr>
                            </table>
                        </div>
                        <a class="right carousel-control" role="button" data-slide="next" onclick="getBillTypes()">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </a>
                    </div>
                    <table >
                        <tr style="width: 100%;height: 30%">
                            <td style="width: 50%;border:1px solid #238391;border-left: none;">
                                <div class="input-group date" id='startTimePicker'>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar" style="color: rgba(255,230,189,0.26)"></i>
                                    </div>
                                    <input id='startTime' type="text" class="form-control" placeholder="时间"
                                           autocomplete="off">
                                </div>
                            </td>
                            <td style="width: 50%;border:1px solid #238391;border-right: none;">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-cny" style="color: yellow;"></i>
                                    </div>
                                    <input id="amount" type="number" class="form-control" placeholder="金额"
                                           autocomplete="off"
                                           style="text-align: center">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;">
                        <tr style="width: 100%;font-size: xx-large;">
                            <td style="width: 50%;height:44px;text-align: center;border:1px solid #238391;border-left: none;">
                                <div class="input-group" style="width: 100%;height:100%;">
                                    <label class="control-label" for="billImg"
                                           style="width:100%;height:100%;margin-top: 4%">
                                        <i class="fa fa-camera light-font"
                                           style="width:100%;height:100%;color:green;font-size: xx-large"></i>
                                        <input id="billImg" type="file" style="display: none"
                                               accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" onchange="file()">
                                    </label>
                                    <!--</a>-->
                                </div>
                            </td>
                            <td style="width: 50%;height:44px;text-align: center;border:1px solid #238391;border-right: none;">
                                <div class="input-group" style="width: 100%;;height:100%;text-align: center ;">
                                    <a id="closeBtn" class="form-control" value="放弃添加"
                                       onclick="javascript:cleanFile()">
                                        <i class="fa fa-remove light-font"
                                           style="width:100%;height:100%;color:red;font-size: xx-large"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <div id="previewDiv" style="text-align: center">
                    </div>
                    <div class="modal fade" id="createFileMModal" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="createFileTitle">修改图片名称</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="fileName" class="col-form-label">新名称</label>
                                            <input type="text" autofocus class="form-control" id="fileName">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="createFileSureBut"
                                            onclick="closeModifyModal()">确定
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="outerdiv"
                     style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
                    <div id="innerdiv" style="position:absolute;">
                        <img id="bigimg" style="border:5px solid #fff;" src=""/>
                    </div>
                </div>
                <textarea id="miaoshu" class="form-control" rows="3" placeholder="添加一些描述吧" data-i18n-target="placeholder" data-i18n="requestBodyTextarea"></textarea>
                <div class="form-group" style="height: 88px">
                    <i class="fa fa-check-circle light-font"
                       style="font-size: 2cm;position: fixed;bottom: 3%;margin-left: 7%;color: #00a67c"
                       onclick="addRecord()"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>