.menu .weui_tabbar {
    position: fixed;
}

.menu .weui_navbar {
    position: fixed;
    /*background-color: rgba(0, 5, 7, 0.99);*/
    background-color: #d3d3d3;
    font-size: 35px;
    height: 50px;
    position: relative;
}

.menu .weui_navbar #topPopovershow {
    /*去掉边框和小三角*/
    /*border: 0;*/
    /*background: transparent;*/
    /*appearance: none;*/
    /*-moz-appearance: none; !* Firefox *!*/
    /*-webkit-appearance: none; !* Safari 和 Chrome *!*/

    /*去除ul前面的点 */
    outline: none;
    float: right;
    background: url('/helper/images/select.png');
    background-size: 35px 35px;
    margin-top: 9px;
    margin-left: 5px;
    /*display:inline-block;*/
    height: 35px;
    width: 35px;
}

.menu .weui_navbar #title {
    width: 33px;
    height: 33px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    font-size: 30px;
}

/*.menu .weui_navbar #topPopovershow:active {*/
    /*background: url('/../../../images/select.png');*/
/*}*/

.menu .weui_navbar #topPopovershow option {
    width: 50px;
    font-size: 5px;
    background-color: rgba(90, 98, 104, 0.55);

}

#selectDiv{
    margin-top: 50px;
    margin-left: 2px;
    width: 60%;
}
#topPopover {
    width: 60%;
    height: 30%;
}

#topPopover li {
    width: 95%;
    height: 48px;
    /*设置边框*/
    border: 1px solid #aeaeae;
    /*设置浮动*/
    /*float: left;*/
    /*设置文本垂直居中*!*/
    line-height: 30px;
    /*设置文本水平居中*!*/
    text-align: center;
    background-color: #49484b;
    opacity:1;/*透明度 1-0 不透明-透明*/
}

#topPopover li a {
    color: white;
    font-size: 20px;
}

#topPopover li a img {
    width: 35px;
    height: 35px;
}
#friendUl{
    width: auto;
    height: auto;
}
#friendUl li a{
    width: 100%;
    height: 40px;
}