<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HttpRequester</title>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"
          href="../../../static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-select.min.css}"
          href="../../../static/bootstrap/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" th:href="@{/sweetalert/sweetalert.css}"
          href="../../../static/sweetalert/sweetalert.css" type="text/css"/>

    <style>
        body {
            padding: 0px;
            margin: 0px;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }

        .tool_title {
            text-align: center;
        }

        .tool_body {
            width: 80%;
            margin-left: 10%;
        }

        #sendBtn {
            float: right
        }
    </style>
    <script th:src="@{/bootstrap/js/Popper.min.js}" src="../../../static/bootstrap/js/Popper.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/jq/jquery-3.3.1.js}" src="../../../static/js/jq/jquery-3.3.1.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../../../static/bootstrap/js/bootstrap.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/bootstrap/js/bootstrap-select.min.js}" src="../../../static/bootstrap/js/bootstrap-select.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/sweetalert/sweetalert.js}" src="../../../static/sweetalert/sweetalert.js"
            type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

        function beautJSON(elementId) {
            $("#warn").empty();
            var requestBody = document.getElementById(elementId); //获取json格式内容
            var result = null;
            try {
                result=JSON.stringify(JSON.parse(requestBody.value), null, 2);//将字符串转换成json对象
                requestBody.value = result;
            }catch (err) {
                var span=$('<span class="label label-danger">JSON 语法错误:'+err.message+'</span>');
                $("#warn").append(span);
                // sweetAlert("JSON 语法错误",err.message,"error");
            }
        }

        function checkParam() {
            var URL = $("#url").val();
            var reqMethod = document.getElementById("reqMethod").value;
            var timeOut = document.getElementById("booleanTimeOut").value;
            var concurrency = document.getElementById("booleanConcurrency").value;
            var requestBody = document.getElementById("request-body")
            var reqParams = requestBody.value;
            var jsonParam = JSON.stringify(JSON.parse(reqParams), null, 2);

            var urlReg = /(http[s]?|ftp):\/\/[^\/\.]+?\..+\w$/i;
            if (!urlReg.test(URL)) {
                sweetAlert("请输入正确的网址","","error");
                // swal("请输入正确的网址");
                return false;
            } else if (reqMethod == null || reqMethod == 0) {
                sweetAlert("请选择 HTTP 请求方式!","","error");
                return false;
            }
            // var params = {
            //     "reqUrl": URL,
            //         "reqParams": reqParams,
            //         "method": reqMethod,
            //         "concurrency": concurrency == 0 ? 1 : concurrency,
            //         "timeOut": timeOut == 0 ? 10000 : timeOut
            // };
            var params = JSON.stringify({
                'reqUrl': URL,
                'reqParams': reqParams,
                'method': reqMethod,
                'concurrency': concurrency == 0 ? 1 : concurrency,
                'timeOut': timeOut == 0 ? 10000 : timeOut
            });
            console.log(params);
            sendRequest(params);
        }

        function sendRequest(params) {

            $.ajax({
                type: "POST",
                url: "/helper/http/concurrentHttpReq",
                data: params,
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    if (data != null && data != "") {
                        console.log(data)
                        if (data.resCode == "100000") {
                            var rsp=data.object;
                            var length=rsp.length;
                            $("#rspShow").empty();
                            for (var i = 0; i < length; i++) {
                                var rspStatus=$('<span>Status:200    consumedTime: '+rsp[i].consumedTime+' ms</span>');
                                var rspTxt=$('<textarea id="response-body" class="form-control"  data-i18n-target="placeholder"\n' +
                                    ' data-i18n="requestBodyTextarea" readonly="readonly" style="height: 250px;resize:none;">'+JSON.stringify(rsp[i].result, null, 2)+'</textarea>');
                                $("#rspShow").append(rspStatus);
                                $("#rspShow").append(rspTxt)
                            }

                        } else {
                            swal(data.messge);
                        }
                    }
                },
                error: function (XMLHttpRequest) {
                    swal("服务忙，请重试", "提示框");
                }
            });
        }
    </script>
</head>
<body>
<div class="tool_title"><h3>HttpRequest</h3></div>
<div class="tool_body">
    <div class="request_info">
        <div class="alert alert-danger alert-dismissable hide">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
        </div>
        <div class="input-group">
            <span class="input-group-addon">URL</span>
            <input type="text" id="url" class="form-control">
        </div>
        <div>
            <select id="reqMethod" class="selectpicker" data-width="125px">
                <option value="0">请求方式</option>
                <option value="1">POST</option>
                <option value="2">GET</option>
            </select>
            <select id="booleanTimeOut" class="selectpicker" data-width="125px" >
                <option value="0" selected = "selected">超时设置(秒)</option>
                <option value="5000">5 s</option>
                <option value="10000">10s</option>
                <option value="150000">15s</option>
                <option value="2000000">20s</option>
                <option value="2000000">25s</option>
                <option value="2000000">30s</option>
            </select>
            <select id="booleanConcurrency" class="selectpicker" data-width="125px" >
                <option value="0" selected = "selected">并发模拟</option>
                <option value="1">1线程</option>
                <option value="2">2线程</option>
                <option value="3">3线程</option>
                <option value="4">4线程</option>
                <option value="5">5线程</option>
                <option value="6">6线程</option>
                <option value="7">7线程</option>
                <option value="8">8线程</option>
                <option value="9">9线程</option>
                <option value="10">10线程</option>
                <option value="20">20线程</option>
                <option value="30">30线程</option>
                <option value="40">40线程</option>
                <option value="50">50线程</option>
                <option value="60">60线程</option>
                <option value="70">70线程</option>
                <option value="80">80线程</option>
                <option value="90">90线程</option>
                <option value="100">100线程</option>
            </select>
            <button type="button" class="btn btn-primary" id="sendBtn"
                    data-complete-text="Loading finished" onclick="javascript: return checkParam()">send
            </button>
        </div>
    </div>
    <div class="request_param">
        <div id="reqParam"><h4>HTTP 请求参数</h4>
            <button type="button" class="btn btn-primary" id="beautJSON"
                    data-complete-text="Loading finished" onclick="beautJSON('request-body')">美化JSON
            </button>
            <div id="warn"></div>
        </div>
        <textarea id="request-body" class="form-control" placeholder="请求正文内容" data-i18n-target="placeholder"
                  data-i18n="requestBodyTextarea" style="height: 400px;resize:none;"></textarea>
    </div>
    <div class="response" id="response">
        <div><h4>HTTP 响应内容</h4></div>
        <div id="rspShow"></div>
    </div>
</div>
</body>
</html>