<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blue.helper.StringHelper.persistence.HttpPostRspMapper">

    <insert id="insert" parameterType="org.blue.helper.StringHelper.controller.support.rsp.HttpPosRsp">
        insert into http_post_rsp (request_url,request_data, response_data, create_time,
        update_time, status,consumed_time
        )
        values (#{url,jdbcType=VARCHAR},#{requestData,jdbcType=VARCHAR}, #{responseData,jdbcType=VARCHAR}, NOW(),
        NOW(), #{status,jdbcType=INTEGER},#{consumedTime,jdbcType=BIGINT}
        )
    </insert>
    <insert id="insertBatch" parameterType="org.blue.helper.StringHelper.controller.support.rsp.HttpPosRsp">
        INSERT INTO http_post_rsp(request_url,request_data, response_data, create_time,update_time,
        status,consumed_time)
        VALUES
        <foreach collection="records" item="record" separator=",">
            (#{record.url,jdbcType=VARCHAR},#{record.requestData,jdbcType=VARCHAR},
            #{record.responseData,jdbcType=VARCHAR}, NOW(),
            NOW(), #{record.status,jdbcType=INTEGER},#{record.consumedTime,jdbcType=BIGINT}
            )
        </foreach>
    </insert>
</mapper>